<<<<<<< HEAD

/* LANDING PAGE START */
.index_main {
    background-color: #F8F8F8;
    padding-top: 50px;
}

.index_hero_div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.index_hero_div h1 {
    font-size: var(--fs-h5);
}

.index_hero_div button {
    max-width: 170px;
    align-self: center;
}

.index_hero_div button:hover,
.controls button:hover,
.index_contact button:hover,
.index_newsletter button:hover,
.carousel a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.index_mg-top {
    margin-top: 44px;
}

.index_hero_imgB {
    display: none;
}

.index_about_header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
}

.index_about_header h4 {
    align-self: flex-end;
    font-size: 18px;
}

.line_img {
    width: 70px;
}

.index_about_contents h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 25px;
}

.index_about_contents p {
    font-size: var(--p-small);
    text-align: center;
}

.index_about_contents {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.index_services h2 {
    font-size: 32px;
    text-align: center;
}

.index_services p {
    font-size: var(--p-small);
    text-align: center;
}

.index_services_gridContainer {
    display: grid;
    grid-template-columns: auto;
    gap: 33px;
    margin-top: 50px;
}

.index_services_gridContainer p {
    background-image: url('./images/Frame\ 1686560253.svg');
    background-repeat: no-repeat;
    height: 110px;
    width: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.index_services_gridContainer p:hover,
.index_rating_content:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: context-menu;
}

.index_projects_div {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: url('./images/ploygons.png') 100% 18% no-repeat;
}

.index_projects_div h2 {
    font-size: 32px;
}

.index_projects_div p {
    font-size: var(--p-small);
}

.image-container {
    position: relative;
    margin: 20px;
    display: inline-block;
    flex: 0 0 33.33%;
}

.image-container img {
    opacity: 0.9;
}

.project_hidden {
    display: none;
}

.carousel {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    color: #F8F8F8;
    padding: 10px;
    opacity: 1;
    font-weight: 700;
    font-size: 20px;
}

.carousel a {
    padding: 16px 32px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: var(--p-small);
    align-self: center;
}

.controls {
    display: none;
}

.index_clientReview h2 {
    font-size: 25px;
}

.index_rating {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;
}

.index_rating_content {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #CFCFCF;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.index_stars {
    width: 136px;
    margin-bottom: 24px;
}

.index_rating_content h6 {
    font-size: 16px;
}

.index_rating_content .p-large {
    font-size: var(--p-medium);
    font-weight: 600;
    margin-bottom: 8px;
}

.index_rating_div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 22px;
}

.index_rating_div img {
    width: 50px;
    height: 50px;
}

.index_contact h2 {
    font-size: 32px;
}

.index_contact p {
    font-size: var(--p-small);
    text-align: center;
}

.index_contact label {
    font-weight: 600;
}

.index_contact form,
.index_formDiv,
.index_form_contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.index_formDiv input,
.index_contact textarea,
#country,
.phone-input {
    border-radius: 8px;
    border: 1px solid #CFCFCF;
    background-color: #E2E2E2;
    padding: 10px 15px;
}

#country {
    outline: none;
    border: none;
    background-color: #E2E2E2;
    width: 100%;
}

#phoneNumber {
    border: none;
    padding: 2px;
    outline: none;
    border-radius: 0px;
}

.index_form_country {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.phone-input {
    display: flex;
    flex-direction: row;
}

#countryCode {
    outline: none;
    border: none;
    background-color: #E2E2E2;
}

.index_contact textarea {
    min-height: 251px;
}

.index_contact button {
    width: 80%;
    align-self: center;
}

.index_newsletter {
    background-color: var(--primary-color);
    color: #F8F8F8;
    text-align: center;
    padding: 56px 25px;
}

.index_newsletter h5 {
    font-size: 15px;
}

.index_newsletter p {
    font-size: 8px;
    margin-top: 10px;
}

.index_newsletter div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #E2E2E2;
    padding: 10px 8px;
    margin-top: 30px;
}

.index_newsletter input {
    padding: 2px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #E2E2E2;
}

.index_newsletter button {
    padding: 10px 20px;
}

.index_sponsors {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline-start: 0px;
    margin-left: -20px;
}

.index_sponsors img:hover {
    animation: bounce 0.5s ease infinite;
    transform: scale(1.1);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.sponsor_divA {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.sponsor_divB {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.sponsor_4 {
    display: none;
}