.project__img-d {
  display: none;
}

.project__img-m img {
  margin: 2rem 0 2rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1;
}
.carousel-navigation {
  width: max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-nav {
  background: linear-gradient(0deg, #e2e2e2, #e2e2e2),
    linear-gradient(0deg, #ffffff, #ffffff);
  align-items:center;
  color: #212b36;
  padding:0;
  text-align:center;
  padding:16px;
  font-weight: 700;
  border: 1px solid rgba(160, 160, 160, 1);
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;

}

.carousel-navigation button:hover {
  border: 1px solid rgba(0, 114, 198, 1);
  color: rgba(0, 114, 198, 1);
}
.prev,
.next {
  color: linear-gradient(0deg, #e2e2e2, #e2e2e2),
    linear-gradient(0deg, #ffffff, #ffffff);
  background: rgba(160, 160, 160, 1);
}

.carousel-navigation .prev:hover,
.carousel-navigation .next:hover {
  background: rgba(0, 114, 198, 1);
  color: antiquewhite;
}

.carousel-nav:focus {
  outline: none;
}

/* Add styles for desktop layout */
@media (min-width: 768px) {
  .project__img-m {
    display: none;
  }
  .project__img-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-with-text {
    position: relative;
    width: calc(50% - 10px);
    margin: 2rem 0 2rem 0;
  }
  .img-with-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
  }
  .image-caption {
    position: absolute;
    top: 65%;
    left: 33px;
    width: 100%;
    height: 54px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 1;
  }
  .carousel-navigation {
    display: flex;
    width:40vw;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
  }
  .carousel-nav{
    margin:0px 5px 0px;
  }
}

@media (min-width: 470px) and (max-width: 767px) {
  .project__img-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project__img-d {
    display: none;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  padding:0;
  padding-bottom: 22px;
}
.project-dropdown .dropdown__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
}

.project-dropdown p {
  white-space: nowrap;
  height: 72px;
  font-family: Russo One;
  font-size: 5vw;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}
.project-dropdown img {
  width: 32px;
  height: 32px;
  margin-left: 0.5rem;
}

/* very small screen size */
@media(min-width: 310px) and (max-width: 419px){
  
    .project__img-m img {
        margin: 2rem 0 2rem 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: black;
        flex: 0 0 auto;
        z-index: 1;
      }

}